doctype html
html
  head
    title Welcome
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    header 

      nav.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg_6AB4CD(role='navigation')
        .navbar-header
          a.navbar-brand(href='#') NodeAuth
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation') 
            span.navbar-toggler-icon
        .navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            if user
              li.nav-item(class=(title == 'Members' ? 'active' : ''))
                a.nav-link(href='/') Members
            if !user
              li.nav-item(class=(title == 'Register' ? 'active' : ''))
                a.nav-link(href='/users/register') Register
              li.nav-item(class=(title == 'Login' ? 'active' : ''))
                a.nav-link(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
            if user
              li.nav-item
                a.nav-link(href='/users/logout') Logout
    .container
      != messages()
      block content
    section.container
      h3.display_none user?_#{user}
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='/javascripts/bootstrap.js')